.back{
position:absolute;
z-index: -1;
max-width: 100%;
max-height: 100vh;
margin: auto;
}

.card{
position:absolute;
cursor:hand;
z-index: 100;
width: 70px; 
min-width: 70px;
height: 100px; 
min-height: 100px;

}
.nodrag{
position:absolute;
cursor:default;
z-index: 0;
width: 70px; 
min-width: 70px;
height: 100px; 
min-height: 100px;
}
